<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container main-container">
<div id="accordion" class="panel-group">
	{% for battle in test %}
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2 class="panel-title">
					<a data-toggle="collapse" href="#collapse-{{ loop.index }}" data-parent="#accordion">Battle #{{ loop.index }} has been won by {{ battle.winner }} in {{ battle.rounds_num }} rounds </a>
				</h2>
			</div>
			<div id="collapse-{{ loop.index }}" class="panel-collapse collapse">
				<div class="panel-body">
				{% for round in battle.rounds %}
					<div class="list-group round">
						<h3 class="list-group-item active round-num">Round {{round.num}}</h3>
						{% for action in round.actions %}
							<div class="list-group-item attack {{ action.success == true ? 'success' : '' }}">
								<h4 class="list-group-item-heading"><span class="weak">{{ action.attacker.name }} attacks with</span> {{ action.attacker.roll }}</h4>
								<div class="result">
									{% if action.success == true %}
										<p class="list-group-item-text">{{ action.enemy.name }} suffers
											<span class="label {{ action.enemy.hpdamage > 0 ? 'label-warning' : 'label-default'}}">{{ action.enemy.hpdamage }} HP</span> and
											<span class="label {{ action.enemy.defdamage > 0 ? 'label-warning' : 'label-default'}}">{{ action.enemy.defdamage }} Def</span></p>
									{% else %}
										<p class="label label-danger">miss</p>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
				</div><!-- .card-block -->
			</div><!-- #collapse-{{ loop.index }} -->
		</div><!-- .panel -->
	{% endfor %}
</div><!-- .panel-group -->
</div><!-- .container -->

</body>
</html>