{% extends 'base.html.twig' %}

{% block form %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" href="#collapse1">Statisztika adatai</a>
		</h4>
	</div>
	<form class="panel-body panel-collapse collapse in form-horizontal" id="collapse1" method="post">
		<div class="row">
			<div class="col-sm-4">
				<h3>Harcos 1</h3>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c1-name">Név (H1)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c1-name" placeholder="Név (H1)" name="c1[name]" value="{{ fd.c1.name ? fd.c1.name : 'Mester' }}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c1-init">Ké (H1)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c1-init" placeholder="Ké (H1)" name="c1[init]"
						value="{{ fd.c1.init ? fd.c1.init : '10' }}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c1-att">Té (H1)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c1-att" placeholder="Té (H1)" name="c1[att]"
						value="{{ fd.c1.att ? fd.c1.att : '40' }}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c1-def">Vé (H1)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c1-def" placeholder="Vé (H1)" name="c1[def]"
						value="{{ fd.c1.def ? fd.c1.def : '40' }}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c1-hp">Ép (H1)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c1-hp" placeholder="Ép (H1)" name="c1[hp]"
						value="{{ fd.c1.hp ? fd.c1.hp : '12' }}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c1-armor">SFÉ (H1)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c1-armor" placeholder="SFÉ (H1)" name="c1[armor]"
						value="{{ fd.c1.armor ? fd.c1.armor : '0' }}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c1-xatt">Támadások (H1)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c1-x2" placeholder="Támadások (H1)" name="c1[x2]"
						value="{{ fd.c1.x2 ? fd.c1.x2 : '1' }}"></input>
					</div>
				</div>
				<input id="c1-id" name="c1[id]" value="1" type="hidden"></input>
			</div>

			<div class="col-sm-4">
				<h3>Harcos 2</h3>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c2-name">Név (H2)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c2-name" placeholder="Név (H2)" name="c2[name]" value="{{ fd.c2.name ? fd.c2.name : 'Tanítvány' }}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c2-init">Ké (H2)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c2-init" placeholder="Ké (H2)" name="c2[init]"
						value="{{ fd.c2.init ? fd.c2.init : '10' }}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c2-att"
					value="">Té (H2)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c2-att" placeholder="Té (H2)" name="c2[att]"
						value="{{ fd.c2.att ? fd.c2.att : '40' }}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c2-def">Vé (H2)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c2-def" placeholder="Vé (H2)" name="c2[def]"
						value="{{ fd.c2.def ? fd.c2.def : '40' }}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c2-hp">Ép (H2)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c2-hp" placeholder="Ép (H2)" name="c2[hp]"
						value="{{ fd.c2.hp ? fd.c2.hp : '12' }}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c2-armor">SFÉ (H2)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c2-armor" placeholder="SFÉ (H2)" name="c2[armor]"
						value="{{ fd.c2.armor ? fd.c2.armor : '0' }}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-5" for="c2-xatt">Támadások (H2)</label>
					<div class="col-xs-7">
						<input class="form-control" id="c2-x2" placeholder="Támadások (H2)" name="c2[x2]"
						value="{{ fd.c2.x2 ? fd.c2.x2 : '1' }}"></input>
					</div>
				</div>
				<input id="c2-id" name="c2[id]" value="2" type="hidden"></input>
			</div>
			<div class="col-sm-4">
				<h3>Teszt beállításai</h3>
				<div class="form-group">
					<label class="control-label col-xs-4" for="battles" data-toggle="tooltip" data-placement="left" title="Az itt megadott számú csata kerül tesztelésre."># Csaták</label>
					<div class="col-xs-8">
						<input class="form-control" id="battles" placeholder="# Battles" name="battles" value="{{ fd.battles ? fd.battles : '100' }}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-xs-4" for="passive_percent" data-toggle="tooltip" data-placement="left" title="A Passzív Vé-nek az itt megadott százaléka számít védekezéskor. (Ha nincs beállítva Vé csökkenés akkor lehetőleg 80 fölé ne adjuk meg ezt az értéket.)">Passzív Vé %</label>
					<div class="col-xs-8">
						<input class="form-control" id="passive_percent" placeholder="Passzív Vé %" name="passive_percent" value="{{ fd.passive_percent ? fd.passive_percent : '40' }}"></input>
					</div>
				</div>
				<div class="mods">
					<div class="form-group">
						<div class="col-sm-12">
							<label data-toggle="tooltip" data-placement="left" title="ÉP vesztés esetén veszít egy támadást is.">
								<input type="checkbox" name="mod_loose_turn" {{ fd.mod_loose_turn ? 'checked' : '' }}> Támadást veszít aki sebződik
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<label data-toggle="tooltip" data-placement="left" title="Té 10-es részéből eredeztetett % alá dobás esetén biztosan sebez.">
								<input type="checkbox" name="mod_master_hit" {{ fd.mod_master_hit ? 'checked' : '' }}> Mestervágás
							</label>
						</div>
					</div>
				</div>
				<div class="radio">
						<label data-toggle="tooltip" data-placement="left" title="Alap Codex harci szabályok.">
							<input type="radio" name="system" {{ fd.system is empty ? 'checked' : '' }}{{ fd.system == 1 ? 'checked' : '' }} value="1"> Codex
						</label>
				</div>
				<div class="radio">
						<label data-toggle="tooltip" data-placement="left" title="Vé csökkenés kisebb kockával ha a Té és Vé fölé dob támadáskor.">
							<input type="radio" name="system" {{ fd.system == 2 ? 'checked' : '' }} value="2"> CX2
						</label>
				</div>
				<div class="radio">
						<label data-toggle="tooltip" data-placement="left" title="Vé 10-es része passzívan csökkenti a sebzést. (nincs Vé csökkenés és Mestervágás)">
							<input type="radio" name="system" {{ fd.system == 4 ? 'checked' : '' }} value="4"> Passzív Vé Sebzésből
						</label>
				</div>
				<div class="radio">
						<label data-toggle="tooltip" data-placement="left" title="Vé fent megadott százaléka passzív értékként. (nincs Vé csökkenés)">
							<input type="radio" name="system" {{ fd.system == 5 ? 'checked' : '' }} value="5"> Passzív Védekezés
						</label>
				</div>
				<div class="radio">
						<label data-toggle="tooltip" data-placement="left" title="Vé fent megadott százaléka passzív értékként. Vé csökkenéssel.">
							<input type="radio" name="system" {{ fd.system == 3 ? 'checked' : '' }} value="3"> Passzív Védekezés Vé csökkenéssel
						</label>
				</div>
				<div class="radio">
						<label data-toggle="tooltip" data-placement="left" title="Dobni kell a védekezésre. (nincs Vé csökkenés)">
							<input type="radio" name="system" {{ fd.system == 6 ? 'checked' : '' }} value="6"> Aktív Védekezés
						</label>
				</div>
				<div class="form-group submitbox">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-lg btn-primary btn-block">Teszt végrehajtása</button>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>
{% endblock %}
